<meta charset="UTF-8">
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&subset=cyrillic');
    style {
        display: none !important;
    }
    ._customer-category__wrap {
        max-width: 627px;
        font-family: Roboto, Arial, sans-serif;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 15px;
    }

    ._customer-category__top {
        padding: 30px;
        background: #dcf3ff;
        display: block !important;
    }

    ._customer-category__ttl {
        font-size: 24px;
        color: #000000;
        line-height: 30px;
        font-weight: 600;
    }

    ._customer-category__list {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 25px;
    }

    ._customer-category__item {
        display: flex !important;
        width: 46%;
        margin-bottom: 25px;
    }

    ._customer-category__item ._customer-category__img-1 {
        width: 35px !important;
        height: 40px !important;
    }

    ._customer-category__item ._customer-category__img-2 {
        width: 35px !important;
        height: 33px !important;
    }

    ._customer-category__item ._customer-category__img-3 {
        width: 35px !important;
        height: 35px !important;
    }

    ._customer-category__block {
        margin-left: 15px;
        margin-top: 5px;
    }

    ._customer-category__item-txt {
        font-size: 15px;
        line-height: 22px;
        color: #666666;
        font-weight: 300;
    }

    ._customer-category__bottom {
        background: #c0e9ff;
        padding: 20px 40px 35px 25px;
        margin-top: 30px;
        position: relative;
        display: flex !important;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    ._customer-category__bottom img {
        min-width: 107px !important;
        max-height: 107px !important;
    }

    ._customer-category__question {
        display: block !important;
        width: 40%;
    }

    ._customer-category__question-ttl {
        font-size: 22px;
        color: #000000;
        font-weight: 600;
        margin-bottom: 15px;
        margin-top: 15px;
        display: block !important;
    }

    ._customer-category__question-txt {
        font-size: 15px;
        line-height: 20px;
        color: #000000;
        display: block !important;
        font-weight: 300;
    }

    ._customer-category__callback {
        display: flex !important;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 10px;
        position: relative;
        text-align: right;
    }

    ._customer-category__callback a:before {
        content: url("img/block_category/phone.png");
        display: block;
        position: absolute;
        top: 2px;
        right: 156px;
    }

    ._customer-category__callback a {
        font-size: 17px;
        line-height: 22px;
        font-weight: 700;
        color: #000000;
        text-decoration: none;
        margin-bottom: 10px;
        display: block !important;
        position: relative;
    }

    ._customer-category__callback a:hover {
        text-decoration: underline;
    }

    ._customer-category__btn {
        width: 170px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #003c72;
        color: #ffffff !important;
        font-weight: 400;
        text-transform: uppercase;
        border-radius: 3px;
        cursor: pointer;
        font-size: 13px;
        display: block;
        text-decoration: none;
        font-family: Arial, sans-serif;
    }

    ._customer-category__btn:hover {
        opacity: 0.8;
        color: #ffffff !important;
    }

    @media (max-width: 1150px) {
        ._customer-category__item {
            width: 100%;
        }
        ._customer-category__bottom {
            display: block;
        }
        ._customer-category__question {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
        ._customer-category__callback {
            width: 100%;
            align-items: center;
        }
        ._customer-category__bottom img {
            margin: 0 auto;
        }
    }


</style>

<div class="_customer-category__wrap">
    <div class="_customer-category__top">
        <div class="_customer-category__ttl">
            Сантехническое оборудование: от фитингов до душевых кабин
        </div>
        <div class="_customer-category__list">
            <div class="_customer-category__item">
                <img class="_customer-category__img-1" src="img/block_category/icon-1.png" alt="">
                <div class="_customer-category__block">
                    <div class="_customer-category__item-txt">
                        Продукция от ведущих российских и европейских брендов
                    </div>
                </div>
            </div>
            <div class="_customer-category__item">
                <img class="_customer-category__img-2" src="img/block_category/icon-2.png" alt="">
                <div class="_customer-category__block">
                    <div class="_customer-category__item-txt">
                        Продукция всегда в наличии на складе — оперативная отгрузка
                    </div>
                </div>
            </div>
            <div class="_customer-category__item">
                <img class="_customer-category__img-3" src="img/block_category/icon-3.png" alt="">
                <div class="_customer-category__block">
                    <div class="_customer-category__item-txt">
                        Оптовые цены на весь ассортимент
                    </div>
                </div>
            </div>
            <div class="_customer-category__item">
                <img class="_customer-category__img-3" src="img/block_category/icon-4.png" alt="">
                <div class="_customer-category__block">
                    <div class="_customer-category__item-txt">
                        Товары от производителей — без переплат посредникам
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="_customer-category__bottom">
        <img src="img/block_category/avatar.png">
        <div class="_customer-category__question">
            <div class="_customer-category__question-ttl">
                Возникли вопросы?
            </div>
            <div class="_customer-category__question-txt">
                Чтобы сделать заказ или получить подробную консультацию, свяжитесь с менеджером компании.
            </div>
        </div>
        <div class="_customer-category__callback">
            <a onclick="yaCounter47505751.reachGoal('megasite_toolbar_email'); return true;" class="_customer-category__phone" href="tel:+79824706476">+7&nbsp;(982)&nbsp;470-64-76</a>
            <div class="js-ga-link js-orders-callback-link tmpl-communication-content _customer-category__btn" data-company-id="8627649"
                 data-company-name="Фитинг" data-company-name-rest="ООО" data-company-url="http://www.santehperm.ru"
                 data-ga-id="CK-1193-1" data-params="{&quot;company_id&quot;:8627649}" data-statistics="1" data-type="callback"
                 onclick="yaCounter47505751.reachGoal('megasite_comblock_callback'); return true;">Заказать звонок</div>
        </div>
    </div>
</div>

